

<div class = "col-md-12">
<%= select_time(Time.now, field_name: 'start')%>
<%= select_month(Date.today, field_name: 'start')%>
<%= select_day(Date.today, field_name: 'start')%>
<%select_year(Date.today, field_name: 'start')%>

<button>Generate</button>

</div>
