<h1>CURRENT USER ID: <%= @user.id %></h1>

<h2>TODAY</h2>

<%@current_user_groups.each do | group |%>
  <div class="group_today col-md-12">

      <%get_student_group( group.group_id ).each do | student_group |%>
        <div class="item col-md-4">
          <h4><%=student_group.user_id%></h4>
        </div>
      <%end%>

    <div class="item col-md-4">
      <h4><%=group.date.strftime("%A, %d %b %Y %H:%M ") %></h4>
    </div>

  </div>
<%end%>
